ul {
    font-size: 30px;
   
}
.flex-center{

    font-size: 100px;

}

body {

    font-size: 40px; 
}
.stu {
font-size: 25px;
text-indent: 30px;
}




button {
    font-size: 20px;
color: blue;
width: 150px;
height: 60px;
background-color: aliceblue;
}



